.root{
    -fx-font: bold italic 16px "Trebuchet MS";
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.label{
    -fx-font-family: "Times New Roman";
    -fx-text-fill: brown;
    -fx-font-size: 27px;
    -fx-font-style: italic;
 }

 .button{
     -fx-background-radius: 20px;
 }

 .text-field{
     -fx-background-radius: 20px;
 }

 .list-view {
     -fx-background-radius: 20px;
 }

 #remindLabel{
     -fx-font-size: 14pt;
 }

 #booksFoundLabel{
     -fx-font-size: 14pt;
 }

 #msgLabel{
     -fx-text-fill: #e0820f;
     -fx-font: bold 12pt "Forte";
     -fx-background-color: white;
     -fx-background-radius: 20px;
     -fx-padding: 10px;
 }